.component-editors {
    position: relative;
    overflow: scroll;
    flex: 1;
    border-left: 1px solid color("border");
    .list {
        position: relative;
        width: 100%;
        height: 100%;
        .editor {
            position: absolute;
            top: 0;
            left: 0;
            display: none;
            align-items: stretch;
            flex-direction: column;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            &.-show {
                display: flex;
            }
            .top {
                display: flex;
                width: 100%;
                flex-direction: column;
            }
            .form{
                display: flex;
                width: 100%;
            }
            .bar {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 100%;
                padding: 10px;
                background-color: color("background-light");
                .columm {
                    padding: 0 10px;
                    &.action {
                        width: 150px;
                    }
                    &.url {
                        flex-grow: 1;
                    }
                    &.button {
                        width: 130px;

                        .input-button.save{
                            background: color("blue");
                            border-color: color("blue");
                        }
                    }
                }
            }
            .viewer-tabs,.editor-tabs {
                display: none;
                padding: 0 10px;
                background-color: color("background-light");
                .list {
                    display: flex;
                }
                .item {
                    padding: 10px 0;
                    margin: 0 10px;
                    color: color("text-dark");
                    position: relative;
                    font-size: 13px;
                    transition: all $animation-duration;
                    user-select:none;
                    &:hover {
                        color: color("text-light");
                    }
                    &.-active {
                        color: color("text-light");
                        &:after {
                            content: "";
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            height: 2px;
                            background: color("green-light");
                        }
                    }
                }
            }
            .editor-tabs{
                display: block;
                border-bottom: 1px solid color("border");
                margin-bottom: 5px;
            }
            .viewer-tabs{
                border-top: 1px solid color("border");
                border-bottom: 1px solid color("border");
            }
            .metadata {
                display: flex;
                align-items: center;
                padding: 0 $grid-gutter/2;
                border-top: 1px solid color("border");
                justify-content: flex-end;
                height: 40px;
                background-color: color("background-light");
                .field {
                    padding-left: $grid-gutter/2;
                    font-size: 12px;
                    .label {
                        color: color("text-light");
                        margin-right: 5px;
                    }
                    .value {
                        color: color("green-light");
                        &.-error {
                            color: #d96c73;
                        }
                    }
                }
            }
        }
    }
}
