.component-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 5px $grid-gutter/2;
    background-color: #16171d;
    width: 100%;
    z-index: 99999;
    // letter-spacing: 0.05em;
    font-size: 13px;
    font-weight: 600;
    border-top: 1px solid #111217;
}
