.component-footer {
    display: flex;
    padding: 5px $grid-gutter/2;
    background-color: color("background-dark");
    width: 100%;
    z-index: 99999;
    font-size: 13px;
    font-weight: 600;
    border-top: 1px solid color("border");
}
