requesto-properties {
    display: none;
    flex: 1;

    &.-show{
        display: flex;
    }

    form{
        display: block;
        width: 100%;
        overflow: auto;
        padding: 10px 20px;
    }
}
