.component-sidebar {
    display: flex;
    flex-shrink: 0;
    flex-basis: 250px;
    max-width: 250px;
    background: color("background-dark");
    height: 100%;
    border-right: 1px solid color("border");
    margin-right: 4px;
    flex-direction: column;
    @include grid-breakpoint("xsmall","small") {
        display: none;
    };
    .top {
        height: 43px;
    }
    .main {
        flex: 1;
    }
    .bottom {
        display:flex;
        align-items: center;
        justify-content: flex-end;
        height: 35px;
        border-top: 1px solid color("border");
        line-height: 35px;
        padding-left: 10px;
    }
    .brand {
        position: relative;
        display: block;
        height: 100%;
        line-height: 43px;
        padding-left: 10px;
        border-bottom: 1px solid color("border");
        box-sizing: border-box;
        color: color("text-light");
        font-size: 16px;
        .icon {
            position: absolute;
            top: 50%;
            right: 10px;
            color: white;
            font-size: 20px;
            transform: translateY(-50%);
        }
    }
    .folder-list {
        display: block;
        color: #b1b4c4;
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        .folder {
            display: flex;
            flex-direction: column;
            .cover {
                border-bottom: 1px solid color("border");
                border-left: 2px solid color("green-dark");
                padding: 10px;
                width: 100%;
                background: color("background-light");
                user-select: none;
                transition: all $animation-duration;
                &:hover {
                    background: #2d323d;
                }
                &.-active {
                    border-left: 2px solid color("green-light");
                }
            }
            .name {
                font-size: 14px;
                font-weight: 600;
                color:color("text-light");
            }
            .description {
                font-size: 11px;
                color:color("text-dark");
            }
        }
        .items {
            display: none;
            &.-open {
                display: block;
            }
            .item {
                position: relative;
                padding: 10px $grid-gutter/2;
                border-bottom: 1px solid color("border");
                background: color("background-dark");
                transition: all $animation-duration;
                &:hover {
                    background: color("background-light",52%);
                }
                &.active {
                    border-left: 2px solid color("green-light");
                }
                .name {
                    color:color("text-light");
                    font-size: 13px;
                    font-weight: 600;
                    opacity: 0.8;
                }
                .description {
                    color:color("text-dark");
                    font-size: 11px;
                }
                .type {
                    position: absolute;
                    top: 50%;
                    right: 10px;
                    border-radius: 2px;
                    color: color("green-light");
                    transform: translateY(-50%);
                    padding: 3px 5px;
                    font-size: 11px;
                    &.-get {
                        color: color("green-light");
                    }
                    &.-post {
                        color: color("blue");
                    }
                    &.-put {
                        color: color("yellow");
                    }
                }
            }
        }
    }
    .folder-add {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        svg {
            display: block;
            width: 15px;
            fill: color("text-dark");
            margin: 0 10px;
            transition: all $animation-duration;
        }

        &:hover svg{
            fill: color("green-light");
        }
    }
}
