.component-sidebar {
    display: flex;
    flex-shrink: 0;
    flex-basis: 250px;
    max-width: 250px;
    background: color("background-dark");
    height: 100%;
    border-right: 1px solid color("border");

    .folder-list {
        display: block;
        color: #b1b4c4;
        width: 100%;
        .item {
            border-bottom: 1px solid #111217;
            border-left: 2px solid #338962;
            padding: 10px;
            width: 100%;
            &.active {
                border-left: 2px solid #43d08a;
            }
        }
        .name {
            font-size: 13px;
            font-weight: 600;
        }
        .description {
            font-size: 11px;
            opacity: 0.7;
        }
    }
}
