.component-sidebar {
    display: flex;
    flex-shrink: 0;
    flex-basis: 270px;
    max-width: 270px;
    background: color("background-dark");
    height: 100%;
    border-right: 1px solid color("border");
    margin-right: 4px;
    flex-direction: column;
    @include grid-breakpoint("xsmall","small") {
        display: none;
    };

    .top {
        height: auto;
    }

    .main {
        flex: 1;
    }

    .bottom {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        height: auto;
        .options {
            border-top: 1px solid color("border");
        }
    }

    .search {
        display: none;
        width: 100%;
        padding: 10px;
        border-top: 1px solid color("border");

        .input {
            width: 100%;
        }
    }

    .options {
        display: flex;
        width: 100%;
        align-items: center;
        border-bottom: 1px solid color("border");
        height: 40px;

        .list {
            display: flex;
            list-style: none;
            align-items: center;
            height: 100%;

            &.left {
                width: 50%;
                justify-content: flex-start;
            }

            &.right {
                width: 50%;
                justify-content: flex-end;
            }

            .item {
                text-align: center;
                width: 35px;
                height: 40px;
                line-height: 40px;
                color: color("text-dark");
                transition: color $animation-duration;
                font-size: 15px;

                &:hover {
                    color: color("green-light");
                }
            }
        }
    }

    .brand {
        position: relative;
        display: block;
        height: 100%;
        line-height: 40px;
        padding-left: 10px;
        border-bottom: 1px solid color("border");
        box-sizing: border-box;
        color: color("text-light");
        font-size: 16px;

        .name {
            small {
                color: color("green-light");
                font-size: 12px;
            }
        }

        .icon {
            position: absolute;
            top: 50%;
            right: 10px;
            color: white;
            font-size: 20px;
            transform: translateY(-50%);
        }
    }

    .folder-list {
        display: block;
        color: #b1b4c4;
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        padding-bottom: 10px;

        &.-show-descriptions {
            .folder .items .item .description {
                display: block;
            }
        }

        .folder {
            display: flex;
            flex-direction: column;

            .cover {
                position: relative;
                border-bottom: 1px solid color("border");
                border-left: 2px solid color("green-dark");
                padding: 10px;
                width: 100%;
                background: color("background-light");
                user-select: none;
                transition: all $animation-duration;

                &:hover {
                    background: #2d323d;

                    .actions {
                        transform: translateX(0);
                    }
                }

                &.-active {
                    border-left: 2px solid color("green-light");

                    .name {
                        //color: white;
                    }
                }

                > .name {
                    font-size: 13px;
                    font-weight: 600;
                    color: color("text-light");
                    transition: color $animation-duration;
                    max-width: 80%;
                    @include text-overflow();
                }

                > .description {
                    font-size: 11px;
                    color: color("text-dark");
                    max-width: 80%;
                    margin-top: 5px;
                    @include text-overflow();
                }
            }

            .actions {
                position: absolute;
                right: 0;
                top: 0;
                height: 100%;
                // background: rgba(0,0,0,0.1);
                display: flex;
                flex-direction: column;
                transform: translateX(100%);
                transition: transform $animation-duration/2 animation-time-function("in-out-cubic");
                border-left: 1px solid color("border");
                z-index: 99;

                .edit {
                    display: flex;
                    display: none;
                    flex: 1;
                    width: 35px;
                    text-align: center;
                    border-bottom: 1px solid color("border");
                }

                .delete {
                    display: flex;
                    flex: 1;
                    width: 35px;
                    text-align: center;
                }

                .delete,
                .edit {
                    align-items: center;
                    justify-content: center;

                    svg {
                        display: block;
                        width: 13px;
                        fill: color("text-dark");
                        transition: fill $animation-duration/2;
                    }

                    &:hover {
                        svg {
                            fill: color("green-light");
                        }
                    }
                }
            }
        }
        .items {
            display: none;

            &.-open {
                display: block;
            }

            .item {
                display: flex;
                justify-content: center;
                flex-direction: column;
                position: relative;
                padding: 10px $grid-gutter/2;
                border-bottom: 1px solid color("border");
                background: color("background-dark");
                transition: all $animation-duration;
                overflow: hidden;

                &.active,
                &:hover {
                    background: color("background-light",52%);

                    .type {
                        opacity: 0;
                    }

                    .actions {
                        transform: translateX(0);
                    }
                }

                .name {
                    color: color("text-light");
                    font-size: 12px;
                    font-weight: 600;
                    opacity: 0.8;
                    transition: all $animation-duration;
                    max-width: 70%;
                    backface-visibility: hidden;
                    @include text-overflow();
                }

                .description {
                    color: color("text-dark");
                    font-size: 11px;
                    display: none;
                    max-width: 70%;
                    margin-top: 5px;
                }

                .type {
                    position: absolute;
                    top: 0;
                    right: 10px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 2px;
                    color: color("blue");
                    backface-visibility: hidden;
                    padding: 3px 5px;
                    font-size: 10px;
                    font-weight: 600;
                    transition: opacity $animation-duration;

                    &.-get {
                        color: color("green-light");
                    }

                    &.-post {
                        color: color("blue");
                    }

                    &.-put {
                        color: color("yellow");
                    }

                    &.-delete {
                        color: color("red");
                    }
                }

                .actions {
                    position: absolute;
                    right: 0;
                    top: 0;
                    height: 100%;
                    // background: rgba(0,0,0,0.1);
                    display: flex;
                    flex-direction: column;
                    transform: translateX(100%);
                    transition: transform $animation-duration/2 animation-time-function("in-out-cubic");
                    border-left: 1px solid color("border");
                    z-index: 99;

                    .edit {
                        display: flex;
                        display: none;
                        flex: 1;
                        width: 35px;
                        text-align: center;
                        border-bottom: 1px solid color("border");
                    }

                    .delete {
                        display: flex;
                        flex: 1;
                        width: 35px;
                        text-align: center;
                    }

                    .delete,
                    .edit {
                        align-items: center;
                        justify-content: center;

                        svg {
                            display: block;
                            width: 13px;
                            fill: color("text-dark");
                            transition: fill $animation-duration/2;
                        }

                        &:hover {
                            svg {
                                fill: color("green-light");
                            }
                        }
                    }
                }
            }
        }
    }

    .folder-add {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        svg {
            display: block;
            width: 15px;
            fill: color("text-dark");
            margin: 0 10px;
            transition: all $animation-duration;
        }

        &:hover svg {
            fill: color("green-light");
        }
    }

    .bottom {
        .ion-social-buffer {
            font-size: 18px;
        }
    }
}
