.component-tabs {
    position: relative;
    display: flex;
    justify-content: flex-start;
    width: auto;
    z-index: 99999;
    overflow-y: hidden;
    overflow-x: auto;
    &::-webkit-scrollbar {
        display: none;
    }
    .tabs {
        display: flex;
        flex: 1;
        justify-content: flex-start;
        padding-top: 5px;
        background: color("background-dark");
        border-bottom: 1px solid color("border");
        padding-left: 1px;
        padding-top: 10px;
        .tab {
            position: relative;
            padding: 10px 15px;
            font-size: 12px;
            line-height: 12px;
            margin: -1px;
            user-select: none;
            border-width: 1px;
            border-style: solid;
            border-image: linear-gradient(to top, color("border"), rgba(0, 0, 0, 0)) 1 100%;
            border-left: none;
            border-bottom: 1px solid transparent;
            border-top: 1px solid transparent;
            transition: color $animation-duration;
            &:hover {
                color: color("text-light");
            }
            &:before {
                transition: opacity $animation-duration;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 2px;
                background: color("green-light");
                content: " ";
                display: block;
                border-radius: 3px 0 0 0;
                opacity: 0;
            }
            &.-active {
                background: color("background-light");
                border-radius: 3px 3px 0 0;
                color: color("text-light");
                box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.1);
                border-image: none;
                border-bottom: 1px solid color("background-light");
                border-top: 1px solid color("border");
                border-right: 1px solid color("border");
                &:before {
                    opacity: 1;
                }
            }
            &.-plus {
                font-size: 17px;
                color: color("text-light");
                transition: color $animation-duration;
                padding-left: 30px;
                padding-right: 30px;
                &:hover {
                    color: color("green-light");
                }
            }
        }
    }
}
