.component-viewer {
    display: flex;
    flex: 1;
    overflow: scroll;
    padding: 0 $grid-gutter/2;
    word-break: break-all;

    // display: none;

    #json-renderer {
        font-size: 13px;
        font-weight: 600;
        line-height: 17px;
        ol.json-array,
        ul.json-dict {
            border-color: #32343d;
        }
        .json-string {
            color: #338962;
        }
        .json-literal {
            color: color("text-light");
        }
    }
}
