.component-viewer {
    display: flex;
    flex: 1;
    overflow: scroll;
    word-break: break-all;

    .json-renderer {
        font-size: 13px;
        font-weight: 600;
        line-height: 17px;
        padding: $grid-gutter/2;
        color: color("text-light");
        white-space: normal;
        width: 100%;
        ol.json-array,
        ul.json-dict {
            border-color: #32343d;
        }
        .json-string {
            color: color("text-light",65%);
            font-weight: 600;
        }
        .json-literal {
            color: color("text-light");
        }
    }
}
