//------------------------------------------------------
// FRONTENDLER
//------------------------------------------------------
@import "frontendler";
@include reset();
body,
html {
    background: #1d1e26;
    color: #9ca0b4;
    min-height: 100vh;
    font-weight: 600;
}
body {
    display: flex;
    justify-content: space-around;
    padding: 0;
    min-width: 600px;
}
.component-sidebar {
    flex-shrink: 0;
    flex-basis: 300px;
    max-width: 300px;
    background: #16171d;
    height: 100vh;
    border-right: 1px solid #111217;
}
.component-content {
    position: relative;
    flex-grow: 1;
    overflow: scroll;
    height: 100vh;
}
.component-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 5px $grid-gutter/2;
    background-color: #16171d;
    width: 100%;
    z-index: 99999;
    // letter-spacing: 0.05em;
    font-size: 13px;
    font-weight: 600;
    border-top: 1px solid #111217;
}

.component-tabs{
    display: flex;
    justify-content: flex-start;
    width: 100%;

    .tabs{
        display: flex;
        justify-content: flex-start;
        width: 100%;
        padding-top: 5px;
        background:#16171d;
        .tab{
            padding: 10px;
            font-size: 12px;
            cursor: pointer;
            &.active{
                background: #1d1e26;
                border-radius: 2px 2px 0 0;
                // border-top: 1px solid #2a2b33;
                border-left: 2px solid #526fff;
                color: white;
                box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.06);
            }
        }
    }
}

.bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    // background-color: #16171d;
    padding: $grid-gutter/2 0;
    // position: absolute;
    // top: 0;
    // left: 0;
    z-index: 99999;
    padding: 10px;
    // border-bottom: 1px solid #111217;
    .columm {
        padding: 0 10px;
        &.action {
            width: 150px;
        }
        &.url {
            flex-grow: 1;
        }
        &.button {
            width: 150px;
        }
    }
    input {
        background: none;
        border: 1px solid #475271;
        transition: all $animation-duration;
        outline: none;
        padding: 7px;
        width: 100%;
        border-radius: 2px;
        font-weight: 600;
        letter-spacing: 0.05em;
        font-size: 13px;
        &:focus {
            border-color: #01d689;
        }
        &[type="button"] {
            border: 2px solid #01d689;
            background: #01d689;
            color: white;
            border: none;
            font-weight: 600;
            &:active {
                opacity: 0.9;
            }
        }
    }
}
.result {
    margin-top: 20px;
    padding: $grid-gutter/2;
    word-break: break-all;
    #json-renderer {
        font-size: 13px;
        font-weight: 600;
        line-height: 17px;
        ol.json-array,
        ul.json-dict {
            border-color: #32343d;
        }
        .json-string {
            color: #338962;
        }
        .json-literal {
            color: #666977;
        }
    }
}
.folder-list {
    display: block;
    color: #b1b4c4;
    .item {
        border-bottom: 2px solid #111217;
        border-left: 2px solid #338962;
        padding: 10px;
        &.active {
            border-left: 2px solid #43d08a;
        }
    }
    .name {
        font-size: 13px;
        font-weight: 600;
    }
    .description {
        font-size: 11px;
        opacity: 0.7;
    }
}
