//------------------------------------------------------
// FRONTENDLER
//------------------------------------------------------
@import "frontendler";
//------------------------------------------------------
// SETTINGS
//------------------------------------------------------
@import "settings";
//------------------------------------------------------
// RESET
//------------------------------------------------------
@include reset();
body,
html {
    background: color("background-light");
    color: color("text-dark");
    min-height: 100vh;
    font-weight: 600;
}
body {
    display: flex;
    justify-content: space-around;
    padding: 0;
    min-width: 600px;
}
.app {
    display: flex;
    width: 100%;
}
@import "components/app";
@import "components/footer";
@import "components/sidebar";
@import "components/sidebar";
@import "components/tabs";
@import "components/workspace";
@import "components/viewer";
